.2_3 { 
	overflow:hidden;
}.e2_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:1024px;
	height:1366px;
	position:absolute;
}.3_12 { 
	border:1px solid rgba(255, 0, 0, 1);
}.e3_12 { 
	width:296.6942138671875px;
	height:300px;
	position:absolute;
	left:123px;
	top:83px;
	background-image:url(images/k3mbymxkwjs_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_13 { 
	background-color:rgba(38.25000151991844, 0, 0, 1);
	width:467px;
	height:157px;
	position:absolute;
	left:38px;
	top:419px;
}.e7_16 { 
	background-color:rgba(38.25000151991844, 29.835001565515995, 0, 1);
	width:425px;
	height:157px;
	position:absolute;
	left:558px;
	top:388px;
}.e7_20 { 
	background-color:rgba(0, 24.480000212788582, 38.25000151991844, 1);
	width:425px;
	height:161px;
	position:absolute;
	left:558px;
	top:577px;
}.e7_24 { 
	background-color:rgba(0, 31.365000866353512, 38.25000151991844, 1);
	width:425px;
	height:161px;
	position:absolute;
	left:558px;
	top:770px;
}.e7_11 { 
	background-color:rgba(0, 38.25000151991844, 26.77500106394291, 1);
	width:425px;
	height:265px;
	position:absolute;
	left:558px;
	top:91px;
}.e5_11 { 
	background-color:rgba(0, 15.300000607967377, 38.25000151991844, 1);
	width:467px;
	height:126px;
	position:absolute;
	left:39px;
	top:766px;
}.e7_2 { 
	background-color:rgba(9.94500020518899, 38.25000151991844, 0, 1);
	width:467px;
	height:126px;
	position:absolute;
	left:38px;
	top:928px;
}.e7_6 { 
	background-color:rgba(38.25000151991844, 0, 27.540000714361668, 1);
	width:467px;
	height:143px;
	position:absolute;
	left:39px;
	top:1090px;
}.e5_7 { 
	background-color:rgba(0, 35.955000668764114, 38.25000151991844, 1);
	width:467px;
	height:118px;
	position:absolute;
	left:38px;
	top:612px;
}.e5_8 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:621px;
	background-image:url(images/icons8_______50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_3 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:428px;
	background-image:url(images/icons8__________50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_4 { 
	color:rgba(255, 0, 0, 1);
	width:149px;
	height:45px;
	position:absolute;
	left:123px;
	top:431px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_13 { 
	color:rgba(0, 255, 132.599995136261, 1);
	width:112px;
	height:45px;
	position:absolute;
	left:647px;
	top:105px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_18 { 
	color:rgba(255, 122.3999972641468, 0, 1);
	width:207px;
	height:45px;
	position:absolute;
	left:647px;
	top:406px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_21 { 
	color:rgba(0, 209.09999817609787, 255, 1);
	width:120px;
	height:45px;
	position:absolute;
	left:647px;
	top:595px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_28 { 
	color:rgba(0, 255, 224.39999878406525, 1);
	width:315px;
	height:45px;
	position:absolute;
	left:647px;
	top:788px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_22 { 
	width:50px;
	height:50px;
	position:absolute;
	left:575px;
	top:590px;
	background-image:url(images/icons8__________50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_9 { 
	color:rgba(46.577342078089714, 177.43749797344208, 146.03108882904053, 1);
	width:104px;
	height:45px;
	position:absolute;
	left:123px;
	top:621px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e5_13 { 
	color:rgba(17.141666784882545, 105.46799942851067, 187.00000405311584, 1);
	width:97px;
	height:45px;
	position:absolute;
	left:123px;
	top:777px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_8 { 
	color:rgba(187.00000405311584, 17.141666784882545, 88.48216608166695, 1);
	width:158px;
	height:45px;
	position:absolute;
	left:123px;
	top:1104px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_4 { 
	color:rgba(132.64533430337906, 187.00000405311584, 17.141666784882545, 1);
	width:382px;
	height:34px;
	position:absolute;
	left:123px;
	top:939px;
	font-family:Caveat;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}.e5_5 { 
	color:rgba(255, 61.19998723268509, 0, 1);
	width:242px;
	height:45px;
	position:absolute;
	left:60px;
	top:478px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_19 { 
	color:rgba(255, 122.3999972641468, 0, 1);
	width:241px;
	height:45px;
	position:absolute;
	left:575px;
	top:462px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_23 { 
	color:rgba(0, 209.09999817609787, 255, 1);
	width:433px;
	height:98px;
	position:absolute;
	left:575px;
	top:640px;
	font-family:Caveat;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}.e7_29 { 
	color:rgba(0, 255, 224.39999878406525, 1);
	width:433px;
	height:98px;
	position:absolute;
	left:575px;
	top:829px;
	font-family:Caveat;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}.e5_10 { 
	color:rgba(47.0000009983778, 177.0000046491623, 146.00000649690628, 1);
	width:261px;
	height:45px;
	position:absolute;
	left:51px;
	top:671px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_14 { 
	color:rgba(0, 255, 132.599995136261, 1);
	width:338px;
	height:135px;
	position:absolute;
	left:575px;
	top:164px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e5_15 { 
	color:rgba(17.141666784882545, 105.46799942851067, 187.00000405311584, 1);
	width:371px;
	height:45px;
	position:absolute;
	left:60px;
	top:830px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_9 { 
	color:rgba(187.00000405311584, 17.141666784882545, 88.48216608166695, 1);
	width:404px;
	height:45px;
	position:absolute;
	left:60px;
	top:1153px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e7_5 { 
	color:rgba(132.64533430337906, 187.00000405311584, 17.141666784882545, 1);
	width:292px;
	height:45px;
	position:absolute;
	left:60px;
	top:991px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e5_6 { 
	color:rgba(226.31249696016312, 49.241842702031136, 10.372655857354403, 1);
	width:302px;
	height:45px;
	position:absolute;
	left:60px;
	top:523px;
	font-family:Caveat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e5_12 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:775px;
	background-image:url(images/icons8_______50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_3 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:937px;
	background-image:url(images/icons8_______________50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_7 { 
	width:50px;
	height:50px;
	position:absolute;
	left:60px;
	top:1104px;
	background-image:url(images/icons8_________50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_12 { 
	width:50px;
	height:50px;
	position:absolute;
	left:575px;
	top:105px;
	background-image:url(images/icons8___________50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_17 { 
	width:50px;
	height:50px;
	position:absolute;
	left:575px;
	top:403px;
	background-image:url(images/icons8_____________50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_25 { 
	width:50px;
	height:50px;
	position:absolute;
	left:575px;
	top:780px;
	background-image:url(images/icons8_____50_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}